<div class="row">
    <div [class.hidden]="loadingImageHidden" class="text-muted loading-icon"><img src="/assets/image/loading-icon.gif" />Loading...</div>
    <div class="col-lg-5" [class.hidden]="!loadingImageHidden">
        <div class="media">
            <a class="pull-left" href="{{ user.getGithubUserUrl()}}">
                <img class="media-object dp img-circle" src="{{ user.getImageUrl()}}" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ user.getName()}}
                    <a href="#" (click)="showCommits($event)" title="Show GitHub commits"><img class="social-icon github-icon" src="/assets/image/github.png" /></a>
                </h4>
                <span class="text-muted" *ngIf="user.getCompany()">{{ user.getCompany() }}<br /></span>
                <a href="{{ user.getGithubUserUrl()}}">{{ user.getGithubUserUrl()}}</a>
                <hr style="margin:8px auto" />

                <span class="label label-success">Public repositories: {{ user.getPublicRepos()}}</span>
                <span class="label label-default">Following: {{ user.getFollowing() }}</span>
                <span class="label label-default">Followers: {{ user.getFollowers() }}</span>
            </div>
        </div>
    </div>
</div>


<div class="row" [hidden]="githubHidden">
    <h3>
        Public commits
    </h3>
</div>

<table class="table table-hover" [hidden]="githubHidden">
    <thead *ngIf="user.getCommits().length > 0">
        <tr>
            <th>Message</th>
            <th>User</th>
            <th>Repo</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let commit of user.getCommits()">
            <td>{{ commit.getMessage() }}</td>
            <td>{{ commit.getAuthorName() }}</td>
            <td>{{ commit.repository.getName() }}</td>
            <td>{{ commit.getCreateDate().toDateString() }}</td>
        </tr>
        <tr *ngIf="user.getCommits().length === 0">
            <td colspan="3">Any commit to show</td>
        </tr>
    </tbody>
</table>